In [1]:
from GUI import GUI
from layout.obj.Compo import Compo
import layout.lib.pairing as pairing
import layout.lib.repetition_recognition as rep
import layout.lib.draw as draw
from sklearn.cluster import DBSCAN

import cv2
import pandas as pd
import math
import numpy as np
import os
from os.path import join as pjoin

In [2]:
# gui = GUI(img_file='E:\\Mulong\\Datasets\\gui\\rico\\combined\\all\\10727.jpg', output_dir='E:\\Mulong\\Result\\rico-layout\\result')

In [4]:
gui = GUI(img_file='data/input/2-s.jpg')

In [5]:
gui.element_detection(True,True,True)
gui.visualize_element_detection()

[Text Detection Completed in 2.646 s] Input: data/input/2-s.jpg Output: data/output\ocr\2-s.json
[Compo Detection Completed in 0.743 s] Input: data/input/2-s.jpg Output: data/output\ip\2-s.json
[Merge Completed] Input: data/input/2-s.jpg Output: data/output\uied\2-s.jpg

In [6]:
gui.layout_recognition()
gui.visualize_layout_recognition()

[Layout Recognition Completed in 1.233 s] Input: data/input/2-s.jpg Output: data/output\layout\2-s.json

In [13]:
gui.visualize_element_detection()

In [14]:
gui.visualize_layout_recognition()

In [6]:
gui.cvt_compos_json_to_dataframe()

In [7]:
gui.compos_df.repetitive_group_recognition(show=True)

In [8]:
gui.compos_df.pair_groups()

In [8]:
b = gui.visualize_compos_df('group')

In [6]:
df = gui.compos_df.compos_dataframe

In [7]:
df

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,...,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair,list_item
0,0,Compo,457,480,24,46,22,23,506,"(468.5, 35.0)",...,35.0,-1,-1,-1,h,-1,-1,-1,-1,-1
1,1,Compo,21,45,25,30,5,24,120,"(33.0, 27.5)",...,27.5,-1,-1,-1,h,-1,-1,-1,-1,-1
2,2,Compo,21,46,33,43,10,25,250,"(33.5, 38.0)",...,38.0,-1,-1,-1,h,-1,-1,-1,-1,-1
3,3,Compo,19,58,156,196,40,39,1560,"(38.5, 176.0)",...,176.0,-1,-1,-1,v,202,nt-0,12,1,0
4,4,Compo,65,123,204,351,147,58,8526,"(94.0, 277.5)",...,277.5,-1,-1,-1,v,96,nt-1,3,1,0
5,5,Compo,18,58,398,438,40,40,1600,"(38.0, 418.0)",...,418.0,-1,-1,-1,v,203,nt-0,14,1,1
6,6,Compo,62,121,447,594,147,59,8673,"(91.5, 520.5)",...,520.5,-1,-1,-1,v,96,nt-1,5,1,1
7,7,Compo,18,58,641,681,40,40,1600,"(38.0, 661.0)",...,661.0,-1,-1,-1,v,-1,nt-0,16,1,2
8,8,Compo,18,143,690,799,109,125,13625,"(80.5, 744.5)",...,744.5,-1,-1,-1,v,-1,nt-1,7,1,2
9,9,Text,79,136,24,45,21,57,1197,"(107.5, 34.5)",...,34.5,Deals,-1,-1,v,-1,-1,-1,-1,-1
10,10,Text,106,140,88,108,20,34,680,"(123.0, 98.0)",...,98.0,NEW,-1,-1,h,-1,-1,-1,-1,-1
11,11,Text,337,410,86,108,22,73,1606,"(373.5, 97.0)",...,97.0,POPULAR,-1,-1,h,-1,-1,-1,-1,-1
12,12,Text,73,207,157,192,35,134,4690,"(140.0, 174.5)",...,174.5,Lindsay\nPosted -172 minutes ago,-1,-1,v,209,t-0,3,1,0
13,13,Text,189,452,215,264,49,263,12887,"(320.5, 239.5)",...,239.5,Bon Ton : Pink Rose Dresses\n$ 17 Shipped,-1,-1,v,433,t-1,3,1,0
14,14,Text,72,207,401,436,35,135,4725,"(139.5, 418.5)",...,418.5,Julie\nPosted -147 minutes ago,-1,-1,v,206,t-0,5,1,1
15,15,Text,190,443,455,475,20,253,5060,"(316.5, 465.0)",...,465.0,WHBM : Extra 40 % Off Sale,-1,-1,-1,-1,-1,-1,-1,-1
16,16,Text,72,207,642,680,38,135,5130,"(139.5, 661.0)",...,661.0,Chris\nPosted -106 minutes ago,-1,-1,v,-1,t-0,7,1,2
17,17,Text,190,460,697,749,52,270,14040,"(325.0, 723.0)",...,723.0,12 Ribbed Cotton Tank Tops\n$ 25 Shipped,-1,-1,v,-1,t-1,7,1,2

In [8]:
gui.cvt_compos_json_to_dataframe()
gui.compos_df.repetitive_group_recognition(show=True)

In [7]:
gui.compos_df.calc_gap_in_group()

In [9]:
df = gui.compos_df.compos_dataframe
g_nt1 = df[df['group'] == 'nt-1']
g_t3 = df[df['group'] == 't-3']

In [10]:
pairing.match_two_groups_by_angles_and_y_distance(g_nt1, g_t3)

[-1, -1] Corner Angles: [1, -2] Center Angles: [10, 3]

D:\Anaconda\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

True